/* PHASE 4: Footer */

.footer {
  width: 900px;
  background: white;
  margin: 0 auto 50px auto;
  font-size: 14px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray
}

.footer-copy {
  float: left;
  padding: 20px
}

.footer-links {
  float: right;
  padding: 20px
}

.footer-links > li {
  float: left;
  padding: 0 0 0 20px
}

.footer a {

}

.footer a:hover {
  color: red;
}
